

@model List<MovieViewModel>

<div class="container body-content">
    <h1>Movies</h1>

    <div class ="products">
        @foreach (var movie in Model)
        {
            <div class="thumbnail">
                <div class="half">
                    <img class="product-image" src="~/images/Movies/movie-@(movie.Id).jpg" />
                </div>
                <div class="caption">
                    <h3>@movie.Title</h3>
                    <p>@movie.Genre</p>
                    <p>@movie.Cast</p>
                    <p><strong>Release Date:</strong><br/> @movie.ReleaseDate.ToShortDateString()</p>
                    <p><strong>Description:</strong><br/> @movie.Description </p>
                </div>
            </div>
        }
    </div>
</div>
